# Install pipdeptree
pipdeptree

# requirements for pytest-cov
pytest
pytest-cov
requests
pytest-mock

# requirements for GenAI
openai
dotenv
markdown2

# for type safe examples
mypy
pydantic

# for Tokenizing
tiktoken
transformers
torch>=2.0.0

# for Streamlit
streamlit
yfinance
plotly
